<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="./goalsDetails.css" rel="stylesheet">
    </head>
    <body>
        <article class="objective-first-page">
            <p>Através de uma equipe composta por pesquisadores, professores e alunos, esta iniciativa busca desenvolver uma solução tecnológica integralmente pela Universidade Federal do Rio de Janeiro (UFRJ) para auxiliar estudos e simulações em química. Inicialmente focada no estudo dos gases perfeitos, que é um conteúdo fundamental nas disciplinas de físico-química ao longo da trajetória acadêmica universitária.</p> 
            <p>O conceito inicial foi gerado pela aluna Raiany da Silva Stein como projeto de conclusão de curso do Bacharelado em Química, sob a orientação dos professores Juan Omar Machuca Herrera e Roberto Salgado Amado.</p>     
            <p>Toda a solução tecnológica é construída com base em ferramentas como HTML5, CSS3 e Javascript.</p>
            <p>A ideia surgiu como uma proposta completamente nacional, desenvolvida internamente na universidade pública, com o intuito de integrar conhecimentos em química e utilizar as ferramentas disponíveis no mercado de tecnologia.</p>
            <p>Esta ferramenta é totalmente gratuita e colaborativa, o que significa que novos conteúdos podem ser adicionados com base nas contribuições da comunidade científica.</p>
        </article>
    </body>
</html>