body {
    margin: 0;
    overflow: hidden;
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 550;
    color: #012a4a;
}

footer {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: flex;
    gap: 30px;
}

img {
    width: 200px;
}

h3 {font-size: 17px;}

h4 {font-size: 14px;}

a {
    text-decoration: none;
    color: #012a4a;
}

a:hover {
    color: #05020c;
}